<table class='table table-bordered'>
  {{#each product in content}}
    <tr>
      <td>{{product.name}}</td>
      <td> $ {{product.price}}.00 USD</td>
      <td> <a {{action editProduct product href="true"}}>Edit</a> </td>
    </tr>
  {{/each}}
</table>
