<div class="row">
  <div class="span4">

    <form class="well">

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label  class="control-label">
              Name
            </label>
            <input type="text" name='name' class='span2'>
            <span>
                <i class=""></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label  class="control-label">
              Credit card number
            </label>
            <input type="text" name='cardnumber' class='input-xlarge'>
            <span>
                <i class=""></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <label class="control-label">
              CSV
            </label>
            <input type="text" name='csv' class='input-small'>
            <span>
                <i class=""></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
